# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual env
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# MyPy
.mypy_cache/

# Docker
.dockerignore

# IDE / Editor settings
.vscode/
.idea/
